.cart {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.cart-left {
    margin: 20px;
    padding: 20px;
    height: max-content;
    border-radius: 5px;
    flex: 3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cart-left ul>* {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-left .cart-products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.cart-right {
    margin: 20px;
    padding: 20px;
    height: max-content;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex: 1;
}

.cart-delete-btn {
    padding: 8px 16px;
    background-color: #EF4444;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.cart-delete-btn:hover {
    cursor: pointer;
}

.cart-select-input {
    padding: 5px 10px;
    font-size: 1rem;
    width: 100px;
}

.cart-right-checkout {
    padding: 8px 16px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

@media screen and (max-width: 760px) {
    .cart {
        flex-direction: column;
    }
    .cart-right {
        margin-left: 20px;
    }
    .cart-left-content {
        overflow: scroll;
    }
}