.product {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: 400;
    flex: 1;
}

.product-messageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.notFound {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-back {
    text-decoration: underline;
    margin-bottom: 10px;
}

.product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 100px;
}

.pcontent-center-items {
    margin-bottom: 10px;
}

.pcontent-bimage {
    height: 400px;
}

.small-pimage {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 3px;
    object-fit: cover;
}

.pcontent-left {
    height: 400px;
    max-width: 300px;
    border: 1px solid black;
    overflow: hidden;
}

.pcontent-left img {
    object-fit: fill;
    height: 100%;
}

.pcontent-right {
    width: 300px;
    background-color: #f7eff1;
    padding: 20px;
    flex-shrink: 2;
    height: max-content;
    border-radius: 5px;
}

.pcontent-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.pcontent-button {
    width: 100%;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.pcontent-items-select {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.pcontent-items-select::hover {
    border: 0.1rem #404040 solid;
}

@media screen and (max-width: 760px) {
    .product-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product-content {
        justify-content: center;
        align-items: center;
    }
    .pcontent-right {
        margin-bottom: 30px;
        width: 250px;
    }
    .pcontent-center {
        margin-bottom: 30px;
    }
    .pcontent-left {
        margin-bottom: 30px;
    }
}