.userList {
    flex: 1;
    margin: 20px;
}

.userList table {
    width: 100%;
    border-collapse: collapse;
}

.userList .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userList .header button {
    padding: 8px 16px;
}

.userList table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
}

.userList table td, .userList table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
}

.userList table button {
    margin: 0 0.2rem;
}