.checkout {
    display: flex;
    justify-content: space-around;
    margin: 20px 60px;
}

.checkout>div {
    text-align: center;
    width: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 30px;
    border-radius: 5px;
}

.checkout>div:not(:last-child)::after {
    content: " --->";
    margin-left: 30px;
}

.active {
    background-color: var(--main-color);
    color: white;
}

@media screen and (max-width: 760px) {
    .checkout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .checkout>div {
        margin-bottom: 10px;
    }
}